.donate-page-container{
    min-height: 100vh
}


.donate-page-header{
    margin: auto;
    width: 75vw;
}

.donate-title{
    margin-top: 90px;
	font-family: Avenir;
	font-size: 36px;
	font-weight: 300;
	color: #4a4a4a;
}


.donate-first-p-title{
    padding: 60px 0px 20px 0px;
    font-family: Avenir;
	font-size: 20px;
	font-weight: 500;
	color: rgba(74, 74, 74, 0.87);
}
.donate-first-paragraph{
    font-family: Avenir;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 2px;
	color: #4a4a4a;
}

.donate-second-p-title{
    padding: 40px 0px 20px 0px;
    font-family: Avenir;
	font-size: 20px;
	font-weight: 500;
	color: rgba(74, 74, 74, 0.87);
}

.donate-second-paragraph{
    font-family: Avenir;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 2px;
	color: #4a4a4a;
}

.donate-money-outter-container{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    background-color: pink;
}
.help-info{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.help-info-text{
    font-family: Avenir;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	color: rgba(74, 74, 74, 0.87);
}


