.blog-container{
  margin: auto;
  padding: 0;
  max-width: 1250px;
  min-height: 3500px;
}

.blog-nav-header{
  margin-left: 6%;
 margin-top: 9%;
	height: 49px;
	font-family: Roboto;
	font-size: 36px;
	font-weight: 500;
	color: #4a4a4a;

}
.recent-post-header{
  margin-left: 6%;
margin-top: 10%;
font-family: Nunito;
font-size: 36px;
letter-spacing: -0px;
color: #4a4a4a;
}
.recent-container{
  margin-left: -.9%;

}
.shadow-box{
  width: 395px;
	height: 358px;
	background-color: #d8d8d8;
	box-shadow: 3px 2px 4px 0 rgba(0, 0, 0, 0.27);
  padding-left: 0px;
  margin-top: 40px;
  margin-left: 2%;
}
.jazz-band{
  width: 395px;
	height: 177px;
}
.shadow-box-ul{
  padding-top: 10px;
  padding-left: 4%;
  display: flex;
}
.details-box{
  width: 395px;
	height: 116px;
	background-color: #e6e6e6;
}
.shadow-box-title{
  font-family: Roboto;
  	font-size: 17px;
  	font-weight: 900;
  	color: #4a4a4a;
}
.details-line{
  width: 1px;
	height: 24px;
	border: solid 1px #4a4a4a;
  margin-left: 21px;
}
.box-date{
  padding-top: 5px;
  font-family: Roboto;
font-size: 14px;
color: #4a4a4a;
}
.shadow-box-title-date{
  padding-left: 22px;
}
.box-date{
 padding-left: 21px;
}
.share-img{
 padding-left: 26px;
 height: 24px;

}
.box-link{
  width: 72%;
height: 25px;
  padding-left: 14px;
	font-family: Nunito;
	font-size: 18px;
	color: #4f89ab;
}
.button{
  margin-left: 80%;
  margin-top: 2%;
}
.arrow{
  margin-left: -38%;
}
.profile{
  margin-top: 3.2%;
  margin-left: 5%;
}
.profile-box{
  width: 395px;
	height: 65px;
	background-color: #ffffff;
  margin-top: -7%;
}
.profile-name{
  width: 114px;
	height: 25px;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 500;
	color: #4a4a4a;
  margin-top: 2%;
  margin-left: 5%;
}
.notes-container {
    display: table;
    height: 246px;
    margin-left: 42%;
    padding-top: 4%;
}
.recent-post-boxes{
  height: 423px;
  margin-top: -10%;
  padding-top: 18%;
}
.year-box{
  padding-top: 21%;
  width: 395px;
	height: 358px;
	background-color: #f1f1f1;
	box-shadow: 3px 2px 4px 0 rgba(0, 0, 0, 0.27);
}
.year-number{
	opacity: 0.61;
	font-family: Roboto;
	font-size: 144px;
	letter-spacing: -0px;
	text-align: center;
	color: #4f89ab;
}
.blue-tree{
  width: 395px;
	height: 317px;
  margin-top: 5%;
}
.violin{
  width: 395px;
  height: 509px;
  margin-top: 41%;
  image-rendering: pixelated;
}
.blog-trumpet-kid{
  width: 395px;
  height: 317px;
  margin-top: -8%;
}
.music-notes{
width: 395px;
height: 453px;
margin-top: 26%;
}
.devmtn{
  width:395px;
  height: 243px;
margin-top: 26%;
}
.hair{
  width: 395px;
  height: 317px;
  margin-top: 40%;
}
.pitts{
  width: 395px;
  height: 317px;
  margin-top: 290px;
}
.music{
  width: 395px;
  height: 317px;
  margin-top: 440px;
}
.violin-kid{
  width: 395px;
  height: 317px;
  margin-top: -33px;
}
.year-box-2016{
  margin-top: 140px;
  padding-top: 21%;
width: 395px;
height: 358px;
background-color: #f1f1f1;
-webkit-box-shadow: 3px 2px 4px 0 rgba(0, 0, 0, 0.27);
box-shadow: 3px 2px 4px 0 rgba(0, 0, 0, 0.27);
}
.venezuela{
  width: 395px;
  height: 317px;
}
.conduct{
  width: 395px;
  height: 317px;
  margin-top: 125px;
}
.sistema-image{
  width: 395px;
  height: 400px;
  margin-top: 270px;
}
