<<<<<<< HEAD:el-sistema-app/src/components/admin-side/app-frame/app-frame.style.css


.top-nav-container{
    background-color: #4f89ab;
    /* max-width: 1440px; */
    height: 64px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.23);
    color: white;
    font-family: 'Roboto';
    font-size: 21px;
    display: flex;
    align-items: center;
    padding: 0 0 0 26px;
=======
body{
  background-color: white;
>>>>>>> master:el-sistema-app/src/components/admin-side/app-frame/style.css
}

.container-fluid{
    background-color: #4f89ab;
    height: 64px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.23);
    color: white;
    font-family: 'Roboto';
    font-size: 21px;


}

.container{
  padding: 0;
  margin: auto;
}
.nav-img{
  color:inherit;
  margin-left: 5%;
}
aside {
  display: inline-grid;
  width: 304px;
	height: 600px;
	background-color: #eeeeee;

}
.create-new-box{
<<<<<<< HEAD:el-sistema-app/src/components/admin-side/app-frame/app-frame.style.css
    background-color: #f6a623;
    color: white;
}
.create-new-box a{
    color: white;
}
.create-new-box:hover{
    background-color: #e69613;
}
.nav-logo{
    border: 2px solid white;
    height: 24px;
    width: 24px;
    margin-right: 24px;
    border-radius: 50%;
}
=======
  background-color: orange;
	font-family: Roboto;
	font-size: 15px;
	color: #ffffff;
  text-align: center;
  padding: 23px;
margin-left: -13%;
>>>>>>> master:el-sistema-app/src/components/admin-side/app-frame/style.css

}
.nav-title{
  padding-left: 5%;
}
.nav-link{
  padding: 23px;
  margin-left: 7%;
  	font-family: Roboto;
  	font-size: 15px;
  	color: #4d4d4e;
  text-align: left;
}
.menu-img{
  margin-left: -3%;
  margin-top: 9.5px;
  position: absolute;
}
