body{
  background-color: white;
}

.container-fluid{
    background-color: #4f89ab;
    height: 64px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.23);
    color: white;
    font-family: 'Roboto';
    font-size: 21px;

}

.login-container{
  padding: 0;
  margin: auto;
}
