body{
  background-color: white;
}
.admin-container{
  display: flex;
}
.admin-content{
  padding-top: 10px;
  display: flex;
  justify-content: center;
}
.container-fluid{
  background-color: #4f89ab;
  height: 64px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.23);
  color: white;
  font-family: 'Roboto';
  font-size: 21px;
  padding-left: 0;
  display: flex;
  align-items: center;
}
.container{
  padding: 0;
  margin: auto;
}
.hamburger{
  display: flex;
  align-items: center;
  margin-left: 26px;
}
.nav-content{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;  
}
.nav-left-side{
  display: flex;
}
.logout{
  font-family: 'Roboto';
  margin-right: 15px;
}
.nav-title{
  padding-left: 25px;
  margin: 0;
}
aside {
  display: inline-grid;
  width: 304px;
	height: calc(100vh - 64px);
	background-color: #eeeeee;
  position: absolute;
  z-index: 1;
}
.nav-img{
  color:inherit;
  margin-left: 25px;
}
.nav-link{
  height: 12.5%;
  min-height: 64px;
  padding-left: 26px;
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-size: 18px;
  color: #4d4d4e;
  text-align: left;
}
.create-new-box{
  background-color: orange;
	color: #ffffff;
}
.nav-link:hover{
  background-color: #ddd;
}
.create-new-box:hover{
  background-color: darkorange;
}
