<div className='container'>
    <div className='text-content-container'>
        <h1 className='container-fluid-text'>Send: Text Notifications</h1>
        <div className="notification-body">
            <form>
                <input type="text" name=""></input>
                <br/>
                <textarea name="message"></textarea>
                <hr/> {/*
                <input type="checkbox"></input>*/}
                <div>
                    <label>1=></label>
                    <input type="checkbox"></input>
                </div>
                <div>
                    <label>2=></label>
                    <input type="checkbox"></input>
                </div>
            </form>
        </div>
    </div>
</div>