* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body, #root {
  height: 100%;
}

body{
  background-color: #fefef6;
}

a,
a:hover,
a:visited,
a:active,
a:focus {
  text-decoration: none;
  color: inherit;
}
