/*regular header styling*/

.reg-header-Root {
  background-image: url("./assets/navSmall.png");
  position: fixed;
  width: 100%;
  height: 92.5px;
}

.reg-header-Container {
  width: 1440px;
  height: 92.5px;
  margin: auto;
}

.reg-header-LogoContainer {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 76px;
  height: 93px;
  width: 271px;
  background-color: rgba(71, 71, 71, 0.65);
}

.reg-header-LogoContainer img {
  position: relative;
  height: 42px;
  width: 175px;
}

.reg-header-Navigation {
  position: relative;
  top: 3.8px;
  float: right;
  height: 92.5px;
  display: flex;
  align-items: center;
  list-style: none;
  color: #fefef6;
}

.reg-header-Navigation li {
  margin-left: 32px;
  float: left;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  color: white;
}
.reg-header-Navigation li a {
  color: #fefef6;
  text-decoration: none;
}

.reg-header-Navigation li a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.reg-header-Navigation li a:visited {
  text-decoration: none;
}

.reg-header-Navigation li a:focus {
  text-decoration: none;
}

.reg-header-Navigation li:last-child {
  width: 133px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #edc93a;
}

.reg-header-Navigation li:last-child span {
  width: 105px;
  height: 25px;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #4a4a4a;
}

/*home header styling*/

.home-header-Root {
  position: fixed;
  width: 100vw;
  background-image: url("./assets/navLarge.png");
}

/*footer styling */

footer {
  width: 100%;
  height: 453px;
  background-color: #4a4a4a;
}
